
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetFoodShop</title>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="~/Content/Style.css">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <main class="l-main">
        <!--========== HOME ==========-->
        <section class="home" id="home">
            <div class="home__container bd-container bd-grid">
                <div class="home__data">
                    <h1 class="home__title">PetFoodShop</h1>
                    <h2 class="home__subtitle">Thức ăn cho thú cưng <br>hàng đầu Việt Nam.</h2>
                    <a href=@Url.Action("SanPham","Home") class="button">Xem sản phẩm</a>
                </div>
                <img src="~/Content/IMG/1.png" alt="" class="home__img">
            </div>
        </section>

        <!--========== ABOUT ==========-->
        <section class="about section bd-container" id="about">
            <div class="about__container  bd-grid">
                <div class="about__data">
                    <span class="section-subtitle about__initial">About us</span>
                    <h2 class="section-title about__initial">Những thực phẩm tốt<br> dành cho thú cưng</h2>
                    <p class="about__description">Chúng tôi cung cấp cho khách hàng đa dạng các loại thực phẩm dành cho thú cưng của bạn. Với chất lượng cao và dịch vụ cao cấp nhất tại thị trưởng Việt Nam. </p>
                </div>

                <img src="~/Content/IMG/2.jpg" alt="" class="about__img">
            </div>
        </section>


        <script src="https://unpkg.com/scrollreveal"></script>
    </main>
</body>
</html>