
@{
    ViewBag.Title = "Đặt hàng thành công";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="~/Content/CartStyle.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="~/Content/Style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
</head>
<body>
    <div class="text-center">
        <h2>Quý khách đã đặt hàng thành công. Nhấn vào <a href="@Url.Action("SanPham","Home")">đây</a> để tiếp tục mua sắm.</h2>
        <p></p>
        <img src="~/Content/IMG/kisspng-shopping-cart-online-shopping-shopping-centre-imag-5c6c1417bf2b28.990778921550586903783-removebg-preview.png" />
        <p></p>
        <h3>Nếu quý khách chọn phương thức thanh toán là qua thẻ xin vui lòng chuyển khoản qua số tài khoản sau:</h3>
        <h3>106870301324</h3>
        <img src="~/Content/IMG/vietinbank.png" width="200" />
        <h3>Xin cảm ơn quý khách đã chọn chúng tôi.</h3>

    </div>
</body>
</html>

