
@{
    ViewBag.Title = "Đăng ký";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap" rel="stylesheet">
    <title>Đăng ký</title>
</head>
<body>
    <section class="vungdangki">
    <h2>Đăng ký tài khoản</h2>
    <form>
        <div class="form-dangki">
            <p><input type="text" placeholder="Tên tài khoản" required></p>
            <p><input type="tel" placeholder="Số điện thoại" required></p>
            <p><input type="text" placeholder="Địa chỉ" required></p>
            <p><input type="text" placeholder="Tên đăng nhập" required></p>
            <p><input type="password" placeholder="Mật khẩu" required></p>
            <p><input type="password" placeholder="Nhập lại mật khẩu" required></p>
        </div>
        <div class="bt-dangki">
            <p><button type="submit">Đăng ký</button></p>
        </div>
    </form>
    </section>

</body>
</html>
